/NetBeansProjects/Primeros_pasos/build/
/NetBeansProjects/Repaso_Java/build/
/NetBeansProjects/IntroduccionJDBC/target/
/NetBeansProjects/TestingMySQL/nbproject/private/
/NetBeansProjects/TestingMySQL/build/
/NetBeansProjects/ManejoJDBC/target/
/NetBeansProjects/JList_MySQL/nbproject/private/
/NetBeansProjects/JList_MySQL/build/
/NetBeansProjects/Converter/build/
/NetBeansProjects/Practica1ADA/target/
/NetBeansProjects/Practica1.2ADA/target/
/NetBeansProjects/Practica_Examen_1/nbproject/private/
/NetBeansProjects/Practica_Examen_1/build/
/NetBeansProjects/Examen_1/nbproject/private/
/NetBeansProjects/Examen_1/build/
