/NetBeansProjects/Primeros_pasos/build/
/NetBeansProjects/Repaso_Java/build/
/NetBeansProjects/IntroduccionJDBC/target/
/NetBeansProjects/TestingMySQL/nbproject/private/
/NetBeansProjects/TestingMySQL/build/
/NetBeansProjects/ManejoJDBC/target/
